<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/libs/bootstrap.min.css" rel="stylesheet"/>
    <script src="/libs/vue.js"></script>
    <script src="/libs/httpVueLoader.js"></script>
    <script src="/libs/axios.min.js"></script>
    <script src="/libs/utils.js"></script>
    <link href="/libs/icons/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/vcss/style.css"/>
</head>
<body>
<div id="spinnerObject" style="display:none;" class="spinner-loader-wrapper spinner-overlay">
    <div class="spinner-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p class="spinner-p" id="spinnerText" name="spinnerText"></p>
</div>
<div id="messageObject"></div>
<div class="container-fluid" id="app">
    <div class="row">
        <div class="col-md-8">
            <br>
            <a href='../index.html'>Main</a>&gt;
            <a href='index.html'>Utils</a>&gt;
        </div>
        <div class="col-md-8">
            <h3>SIMPLE REST CLIENT</h3>
            It does accept text only-no multipart body<br>

            <div class="form-group">
                <label for="source">source</label>
                <textarea class="form-control" rows="6" cols="50" name="source" id="source" v-model="source"></textarea>
            </div>
            <div class="form-group">
                <button type="button" id="execute" name="execute" @click="doexecute()" class="btn btn-default">execute
                </button>
            </div>
            <div class="form-group">
                <label for="result">result</label>
                <textarea class="form-control" rows="6" cols="50" name="result" id="result" v-model="result"></textarea>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    new Vue({
        el: '#app',
        components: {},
        data: {
            source: "GET https://www.kendar.org",
            result: ""
        },
        methods: {
            doexecute: function () {
                var th = this;
                const options = {
                    headers: {"content-type": "text/plain"}
                }
                axiosHandle(axios.post('/api/remote/restclient', this.source, options), (resultall) => {
                    th.result = resultall.data;
                    axiosOk()
                });
            }
        }
    });
</script>
</body>
</html>