<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] %logger - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="error"/>
    <logger name="org.apache.http" level="error"/>

    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>
</configuration>