body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

input {

    border: 1px solid;
    border-radius: 5px;
}


.btn-kendar {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-kendar.focus,
.btn-kendar:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}

.btn-kendar:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-kendar.active,
.btn-kendar:active,
.open > .dropdown-toggle.btn-kendar {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-kendar.active.focus,
.btn-kendar.active:focus,
.btn-kendar.active:hover,
.btn-kendar:active.focus,
.btn-kendar:active:focus,
.btn-kendar:active:hover,
.open > .dropdown-toggle.btn-kendar.focus,
.open > .dropdown-toggle.btn-kendar:focus,
.open > .dropdown-toggle.btn-kendar:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625
}

.btn-kendar.active,
.btn-kendar:active,
.open > .dropdown-toggle.btn-kendar {
    background-image: none
}

.btn-kendar.disabled.focus,
.btn-kendar.disabled:focus,
.btn-kendar.disabled:hover,
.btn-kendar[disabled].focus,
.btn-kendar[disabled]:focus,
.btn-kendar[disabled]:hover,
fieldset[disabled] .btn-kendar.focus,
fieldset[disabled] .btn-kendar:focus,
fieldset[disabled] .btn-kendar:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-kendar .badge {
    color: #5cb85c;
    background-color: #fff
}

/**
https://unicode-table.com/en/1F5AB/
 */
.bi-floppy::before {
    font-size: 18px;
    content: "\1F5AB";
}

.boxed {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}


table {
    border-collapse: separate;
    border: 2px solid #42b983;
    border-radius: 5px;
    background-color: #fff;
}

th {
    background-color: #42b983;
    color: rgba(255, 255, 255, 0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: #f9f9f9;
}

th,
td {
    min-width: 10px;
    padding: 5px 5px;
}

th.active {
    color: #fff;
}

th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

/* SPINNER */

.spinner-p {
    font-size: 2em;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: 1px;
    color: rgb(82, 82, 82);
}

.spinner-loader-wrapper {
    text-align: center;
}

.spinner-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.spinner-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #6916a0;
    border-radius: 50%;
    animation: spinnerloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6916a0 transparent transparent transparent;
}

.spinner-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.spinner-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.spinner-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spinnerloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*.dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(204, 204, 204, 0.75);
}*/

.spinner-overlay {
    opacity: 0.8;
    background-color: rgba(204, 204, 204, 0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}